<div>
  <%= image_tag("map.png", :alt => "map") %>
  <%= image_tag("teachable-logo.png", :alt => "teachable-logo") %>
  <div id="searchfav">
    <a href="" "email me">Search</a>
    <a href="" "">Favorites</a>
  </div>
</div>
