<div class="map">
  <%= image_tag("map.png", :id => "map") %>
  <%= image_tag("teachable-logo.png", :id => "teachableLogo") %>
  <div id="searchFav">
      <a href="" "email me">Search</a>
      <a href="" "">Favorites</a>
  </div>
</div>

