<div class="map">
  <%= image_tag("map.png", :id => "map") %>
  <%= image_tag("teachable-logo.png", :id => "teachableLogo") %>
  <div id="searchFav">
    <a href="/">Search</a>
    <a href="/favorites">Favorites</a>
  </div>
</div>

